*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: rgb(75,78,162);
    background: linear-gradient(90deg, rgba(66, 67, 97, 1) 5%, rgba(225,68,68,1) 95%); 
    background-size: 150%;
    background-position: 75% 25% ;
}
header{
    margin: 2.5rem 3rem 2rem 3rem;
    color: white;
    font-family:'Permanent Marker', cursive;
}
header a {
    text-decoration: none;
    color: white;
}
hr{
    margin: 0.5rem;
    color: white;
}

/* Single Character css*/
.single__character{
    margin: 2rem 3.1rem 5rem 3.1rem;
    background-color: #363333;
    border-radius: 10px;
    justify-content: center;
}
.single__img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    padding-top: 4rem;
    z-index: 1;
}
/* .single__img::before{
    position: absolute;
    content:"preview";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;
    top: 20;
    left: 0;
    z-index: 0;
 }  */
img{
    border-radius: 150px;
    width: 150px;
    height: 150px;
    object-position: center;
} /* works also for the img in the manager character page*/
#single__name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 2rem;
    font-family:'Permanent Marker', cursive;
    color: white;
}
#single__preface{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem 1rem 1rem;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1rem;
    opacity: 60%;

}
#single__text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    color: white;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    opacity: 75%;
}
/*End of single Character CSS*/

/*Manager character CSS*/
.manager{
    margin: 2rem 3.1rem 5rem 3.1rem;
    background-color: #363333;
    border-radius: 10px;
}
.manager__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    padding-top: 4rem;
}
.manager__img img, button{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
#upload{
    display: none;
    position: relative;
    max-width: 7.2rem;
    margin: auto;
    padding-top: 0.5rem;
    /* background-color: #363333; */
    color: white;
    font-style: italic;
    font-weight: 500;
    opacity: 0;
}
label {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 0.9rem;

}

.manager__input{
    display: flex;
    flex-direction: column;
    position: relative;
}
#manager__name, #manager__preface, #manager__text{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 15px;
    color: white;
}
#manager__name{
    margin: 0.3rem 2rem 0.3rem 2rem;
    padding: 0.5rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5rem;
    /* position : absolute; */
}
#counter__name{
    position: absolute;
   top: 5%;
right: 8%;
font-family: 'Roboto', sans-serif;
font-size: 0.6rem;
color: white;
}
#counter__preface{
    position: absolute;
 
 top: 19%;
 right: 8%;
 font-family: 'Roboto', sans-serif;
 font-size: 0.6rem;
 color: white;
} 
#counter__text{
    position: absolute;
    top: 95%;
 right: 8%;
 font-family: 'Roboto', sans-serif;
 font-size: 0.6rem;
 color: white;
}

#manager__preface{
    margin: 0.3rem 2rem 0rem 2rem;
    padding: 0.75rem;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#manager__text{
    margin: -2rem 2rem 0rem 2rem;
}
.ql-toolbar{  
    margin: 0rem 2rem 0rem 2rem; 
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 15px; 
    position: relative;
    z-index: 1000;
    top: 0.5rem;
}

#manager__text{
    /* position: absolute; */
    text-align: left;
    padding: 3rem 1rem 1rem 1rem;
    font-family: 'Roboto', sans-serif;
    /* font-size: 1rem; */
    color: white;
    height: 20rem;
    /* z-index: 2; */
}
#importid {
    border: 2px solid white;
    width: 150px;
    height: 150px;
}
@media screen and (max-width: 500px){
    #manager__text{
        padding: 5rem auto 5rem auto;
    }
}
/*End of Manager character CSS */

/* CSS btn delete and update/save*/
.single__btn, .manager__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5rem;
    padding-bottom: 3rem;
}
#update{
    margin: 1.5rem ;
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: #4B7CFB;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
    transition: background 0.5s ease-out,color 0.5s ease-out, font-weight 0.5s ease-out;
    /* box-sizing: 7rem; */
}
#update:hover { 
    background: white;
    color: #4B7CFB;
}
#update a {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
#update:hover a{ 
    color: #4B7CFB;
    font-weight: 600;
}
#delete{
    margin:1rem 1rem 1rem 0rem;
    padding: 1rem;
    background-color: #363333;
    border: 1px solid;
    border-radius: 10px;
    border-color: #BF3A30;
    color: #BF3A30;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 1.1rem;
    transition: background 0.5s ease-out,color 0.5s ease-out,font-weight 0.5s ease-out,border-color 0.5s ease-out;
    /* box-sizing: 7rem; */
}
#delete:hover { 
    background: #BF3A30;
    color: #363333;
}
#delete a {
    color: #BF3A30;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-decoration: none;
    transition: color 0.5s ease-out;
}
#delete:hover a{ 
    color: #363333;
    font-weight: 900;
}
@media screen and (max-width:470px){
    .single__btn, .manager__btn{
        flex-direction: column;
        /* margin: 2.5rem; */
        padding-bottom: 3rem;
    }
    #update{
        margin: 1rem 1.5rem 0.5rem 1.5rem;
    }
    #delete{
        margin: 0.5rem 1.5rem 1.5rem 1.5rem;
    }
}
